.sidebar {
  width: 220px;
}

a.list-group-item:hover {
  color: blue;
  cursor: pointer;
}

.nav-component:hover {
  cursor: pointer;
}
.nav-full-width {
  width: 100%;
}

.popup-card-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 500px;
  overflow-wrap: break-word;
  max-width: 90%;
  text-align: center;
}

.logo-image {
  width: 90px;
  height: 28px;
}

.dropdown-menu-custom {
  left: auto !important;
  right: 0;
}

.footer-container {
  margin-top: 23vh;
  padding-top: 23vh;
  position: static;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .footer-container {
    margin-top: 5vh;
    padding-top: 5vh;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
}
